* {
  box-sizing: border-box;
}

button,
input {
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

button {
  display: block;
  cursor: pointer;
  font-size: 3.5rem;
  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out;
}

button:focus,
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  text-align: right;
  border: 0;
  border-bottom: 2px solid #ccc;
  padding: 1.5rem 1rem;
  font-size: 4rem;
}

input:focus {
  outline: none;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.controls {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
