* {
  box-sizing: border-box;
}

button,
input {
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

button {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 3.5rem;
  border: 0;
  background-color: #bbb;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  transition: all 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
  border-radius: inherit;
}

button:hover::after {
  opacity: 1;
}

button.blue {
  background-color: steelblue;
}

button.green {
  background-color: mediumseagreen;
}

button.red {
  background-color: orangered;
}

input {
  display: block;
  width: 100%;
  text-align: right;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 4rem;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3) inset;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #444;
}

.controls {
  flex-grow: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
